body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --boxShadowDefault: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    --boxShadowIncreased: 10px 25px 30px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-left: 20px;
}

.mainTitle {
    font-family: 'Shrikhand';
}

p,
h2,
h3,
h4 {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* header */

header {
    font-family: 'Shrikhand';
    min-height: 65px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    display: flex;
    padding-top: 2%;
    width: 50%;
    margin: auto;

}

header h1 {
    margin: 7px;
}



/* explore location */

.paris-location {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(34, 34, 34, 0.089);
    color: rgb(73, 73, 73);
    padding: 4.5%;
    font-weight: 655;
    font-size: 105%;
}

.fa-location-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.how-it-works h2 {
    padding-top: 40px;
}

/* .how-it-works p {

} */

.book-menu {
    background-color: #f6f6f6;
    text-align: center;
    padding-bottom: 50px;

}

.book-menu h2 {
    margin: auto;
    padding: 30px;
}

.book-menu p {
    font-size: 120%;
    margin-top: 0;
    color: rgb(70, 70, 70);
}

.book-menu span {
    display: inline-block;
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    padding: 15px 20px;
    border-radius: 50px;
    margin-top: 30px;
    box-shadow: var(--boxShadowDefault);

}

.book-menu span:hover,
.book-menu span:active {
    box-shadow: var(--boxShadowIncreased);
    background-image: linear-gradient(to bottom right, #ffb1e9, #af86e0) !important;
}



.new {
    margin-top: 10px;
    position: relative;
    left: 76%;
    top: 4%;
    color: green;
    background-color: #99E2D0;
    padding: 4px 20px;
    font-size: 13px;

}

.loader {
    color: black;
    position: fixed;
    font-size: 5em;
    top: 30%;
    left: 40%;
    animation: spinner 1s infinite, fading 3s 1 reverse forwards;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 !important;
}

.mainWrapper {
    opacity: 0;
    animation: fading 4s 1 forwards;


}

@keyframes fading {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}


@keyframes spinner {
    100% {
        transform: rotate(360deg);
    }
}



main .full-palette-img {
    width: 100%;
}

main .full-palette {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .full-pallete-title {
    width: 100%;
}






div.custom-counter {
    counter-reset: list-number;
}

/* * customising the numbers before our list * */
.custom-counter div:before {
    counter-increment: list-number;
    content: counter(list-number);
    width: 25px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: #9356DC;
    border-radius: 50%;
    color: #fff;
    position: relative;
    right: 15px;
}




.custom-counter div {
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-right: 15px;
    margin: 20px;
    font-size: 107%;
    font-weight: 500;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);

}

.custom-counter div:hover {
    background-color: #ecddf0;
}

.custom-counter i {
    font-size: 120%;
    padding: 20px;
    padding-left: 4px;
    color: gray;
}

.card-content .card-icon {
    display: grid;
    text-decoration: none;
}

.fa-heart {
    grid-row: 1;
    grid-column: 1
}

.card-content .card-icon:active .fa-solid,
.card-content .card-icon:hover .fa-solid {
    animation: fillUpHeart 1s 1 forwards;
}

.card-content .card-icon .fa-solid {
    opacity: 0;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes fillUpHeart {
    0% {}

    100% {
        opacity: 1;
    }
}


.custom-counter a:hover .fa-solid,
.custom-counter a:active .fa-solid {
    color: #9356DC;
}

.custom-counter i:active,
.custom-counter i:hover {
    color: #9356DC;
}

.custom-counter p:hover,
.custom-counter p:active {
    color: black !important;
}




/* restaurants */


.restaurants-section {
    background-color: #f6f6f6;
    padding: 30px 0;
    width: 100%;
    /* display: flex;
    flex-direction: column; */

}

.restaurants-section h2 {
    padding-bottom: 0;
    margin-left: 20px;
}

.card {
    background-color: white;
    border-radius: 12px;
    margin: 20px;
    box-shadow: var(--boxShadowDefault);
    display: flex;
    flex-direction: column;


}

.card-image {
    width: 100%;
    height: 180px;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-content {
    display: flex;
    padding: 15px
}

.card-text {
    flex: 6;
}

.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 23px;
    color: rgb(73, 73, 73);
}


.fa-solid a:hover {
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

.footer-text a {
    text-decoration: none;
    color: white;
}

.card-text p {
    margin: 0;
    padding-top: 3px;
}


/* card-images */

.card-image-1 {
    background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.card-image-2 {
    background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-position: center;

}

.card-image-3 {
    background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.card-image-4 {
    background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}



/* footer */

.white-logo svg path {
    fill: white;

}

footer {
    background-color: rgb(54, 54, 54);
    padding: 5%;

}

.footer-text {
    color: white;
}

.footer-text div {
    padding: 1%;
}

footer .fa-solid {
    font-size: smaller;
    padding-right: 10px;
}

