body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    font-family: 'Shrikhand';
    margin: 20px;
}

article h4 {
    font-weight: normal;
}

.full-palette article{
    opacity: 0;
}

.full-palette article:nth-child(2){
    animation-delay: 0.5s;
    animation: fading 2s 1 forwards;

}
.full-palette article:nth-child(3){
    animation-delay: 1s;
    animation: fading 2.5s 1 forwards;

}
.full-palette article:nth-child(4){
    animation-delay: 1.5s;
    animation: fading 3s 2 forwards;

}

@keyframes fading {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}




/* header */

.content p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}

.arrow-icon {
    color: rgb(54, 54, 54);
    font-size: 25px;
    position: relative;
    top: 20px;
    left: 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 13px;

}

.logo img {
    width: 50%;
}




/* main */



.full-palette-img {
    background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 180px;
    /* position: absolute;
    z-index: auto; */
}

.full-palette {
    background-color: rgba(167, 166, 166, 0.089);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 60px;
    /* position: absolute;
    z-index: 20; */

}



.full-pallete-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.heart-icon {
    padding-right: 40px;
    font-size: 23px;
    color: rgb(73, 73, 73);
}

.cards-title {
    margin-left: 20px;
}

.cards {
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 5px;
    margin: 20px;
    font-size: 107%;
    font-weight: 500;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}


.cards-title:after {

    content: "";
    /* This is necessary for the pseudo element to work. */
    display: block;
    /* This will put the pseudo element on its own line. */
    margin: 0 0;
    /* This will center the border. */
    width: 10%;
    /* Change this to whatever width you want. */
    padding-top: 10px;
    /* This creates some space between the element and the border. */
    border-bottom: 1px solid aquamarine;
    /* This creates the border. Replace black with whatever color you want. */

}

.content-desciption {
    display: flex;
    justify-content: center;
    align-items: center;
}


.order-button {
    display: flex;
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    padding: 15px 20px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
}

/* footer */

.white-logo svg path {
    fill: white;

}

footer {
    background-color: rgb(54, 54, 54);
    padding: 5%;

}

.footer-text {
    color: white;
}

.footer-text div {
    padding: 1%;
}

footer .fa-solid {
    font-size: smaller;
    padding-right: 10px;
}