body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* header */


.header h1 {
    margin: 0;
    padding-top: 5px
}

h2 {
    font-family: 'Shrikhand';
    margin: 20px;
}

.logo-link {
    text-decoration: none;
}

.logo-link:visited {
    color: black;

}

article h4 {
    font-weight: normal;
}

.full-palette article {
    opacity: 0;
}

.full-palette article:nth-child(1) {
    animation-delay: 0.5s !important;
    animation: fading 2s 1 forwards;

}

.full-palette article:nth-child(2) {
    animation-delay: 1s !important;
    animation: fading 2.5s 1 forwards;

}

.full-palette article:nth-child(3) {
    animation-delay: 1.5s !important;
    animation: fading 3s 1 forwards;

}

.full-palette article:nth-child(4) {
    animation-delay: 2s !important;
    animation: fading 3s 1 forwards;

}

@keyframes fading {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}




/* header */


.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.arrow-icon {
    color: rgb(54, 54, 54);
    font-size: 25px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.arrow-icon a:visited {
    color: rgb(54, 54, 54);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 13px;

}

.logo img {
    width: 50%;
}



.price {
    margin: 0 1rem;
}



/* main */

.restaurant-img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 12rem;
}



.full-palette {

    margin-top: 10rem;
    background-color: #f6f6f6;
    position: relative;
    z-index: 1;
    padding-bottom: 2rem;
    border-radius: 30px;

}



.full-pallete-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.heart-icon {
    padding-right: 40px;
    font-size: 23px;
    color: rgb(73, 73, 73);
    /* display solid heart inside regular heart */
    display: grid;
    text-decoration: none;
}

.fa-heart {
    grid-row: 1;
    grid-column: 1
}

.heart-icon:active .fa-solid,
.heart-icon:hover .fa-solid {
    animation: fillUpHeart 1s 1 forwards;
}

.heart-icon .fa-solid {
    opacity: 0;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes fillUpHeart {
    0% {}

    100% {
        opacity: 1;
    }
}




.cards-title {
    margin-left: 20px;
    padding-top: 25px;
}

.cards {
    display: flex;
    border-radius: 15px;
    background-color: white;
    margin: 0.5rem;
    overflow: hidden;
    width: 95%;
    box-shadow: 10px 10px 10px rgba(126, 126, 126, 0.3);
}


.cards-title:after {

    content: "";
    /* This is necessary for the pseudo element to work. */
    display: block;
    /* This will put the pseudo element on its own line. */
    margin: 0 0;
    /* This will center the border. */
    width: 10%;
    /* Change this to whatever width you want. */
    padding-top: 10px;
    /* This creates some space between the element and the border. */
    border-bottom: 1px solid #99E2D0;
    /* This creates the border. Replace black with whatever color you want. */

}

.cards-content {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    transition: width 500ms;
    padding: 0.5rem;
}

.cards-content b {

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.content-desciption {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Check {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99e2d0;
    border-radius: 0px 15px 15px 0px;
    overflow: hidden;
    width: 0%;
    transition: width 500ms;
}

.Check i {
    color: white;
    font-size: 1.25em;
    justify-content: center;
    align-items: center;
    transform: rotate(-1turn);
    transition: transform 400ms ease-in-out;
}

.cards:hover .cards-content {
    width: 80%;
}

.cards:hover .Check {
    width: 20%;
}

.cards:hover .Check i {
    transform: rotate(0turn);
}




.order-button {
    display: flex;
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    padding: 15px 60px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
}

.order-button:hover,
.order-button:active {
    box-shadow: var(--boxShadowIncreased);
    background-image: linear-gradient(to bottom right, #fca0e2, #a97ae2) !important;
}

/* footer */

.white-logo svg path {
    fill: white;

}

footer {

    width: 90%;
    background-color: rgb(54, 54, 54);
    padding: 5%;

}

.footer-text {
    color: white;
}

.footer-text div {
    padding: 1%;
}

footer .fa-solid {
    font-size: smaller;
    padding-right: 10px;
}