/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .entrees,
    .main-dish,
    .desserts {
        width: 100%;
    }

    
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    header {
        background-color: white;
    }

    main .full-palette,
    .mainWrapper {
        width: 90%;
        position: relative;
    }

    .entrees,
    .main-dish,
    .desserts,
    .mainWrapper .restaurants-section {
        width: 62%;
    }

    .how-it-works {
        width: 100%;
        padding: 0% 30%;
    }

    .restaurants-section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .restaurants-section h2 {
        width: 100%;
    }

    .restaurants-section .card {
        width: 34%;
        height: 20em;
    }

    body {
        background-color: #f6f6f6;
    }

    main .full-palette {
        width: 90%;
    }

    .entrees,
    .main-dish,
    .desserts {
        width: 32%;
    }

    footer {
        position: relative;

    }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    header {
        background-color: white;
    }


    main .full-palette {
        width: 70%;
        padding: 3em 0em;

    }

    .mainWrapper {
        width: 100%;
        padding: 3em 0em;
    }

    footer {
        position: relative;

    }

}